
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    text-align: center;
    margin: 1.5rem;
    font-size: x-large;
}

.calc{
    font-family: monospace;
    width: 400px;
    margin: 0 auto;
}

.screen{
    background-color: black;
    color: white;
    width: 400px;
    padding: 1.5rem;
    font-size: 2.5rem;
    text-align: right;
}

.btns {
    width: 400px;
}

.row{
    display: flex;
}

.btn-2{
    flex-grow: 2;
}

.btn-3{
    flex-grow: 2;
}

.btn{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: rgba(216, 217, 219);
    font-size: 2.5rem;
    font-weight: 500;
}
.btn:hover{
    background-color: rgba(216, 217, 219, 0.6)
}

.orange{
    background-color: rgba(223, 151, 76);
    color: white;
}
.orange:hover{
    background-color: rgba(223, 151, 76, 0.7);
}
